<h1>Uso básico do Switch</h1>

<h3>Switch - Angular 17</h3>

<input type="number" (change)="trocarValor($event)" [value]="mes">

<div [ngSwitch]="mes">
 <p *ngSwitchCase="1">Janeiro</p>
 <p *ngSwitchCase="2">Fevereiro</p>
 <p *ngSwitchCase="3">Marco</p>
 <p *ngSwitchCase="4">Abril</p>
 <p *ngSwitchCase="5">Maio</p>
 <p *ngSwitchCase="6">Junho</p>
 <p *ngSwitchCase="7">Julho</p>
 <p *ngSwitchCase="8">Agosto</p>
 <p *ngSwitchCase="9">Setembto</p>
 <p *ngSwitchCase="10">Outrubro</p>
 <p *ngSwitchCase="11">Novembro</p>
 <p *ngSwitchCase="12">Dezembro</p>
 <p *ngSwitchDefault>Mês inválido</p>

</div>
